{% load static %}

<section class="card" id="cart">
    <h3>Корзина</h3>
    <div class="order">
        <div class="menu-cards">
            {% for cart in carts %}
                <article class="menu-card">
                    <div class="menu-card-head">
                        <h4>{{ cart.dish.name }}</h4>
                        <span class="menu-price">{{ cart.quantity }} товар(а)</span>
                    </div>
                </article>
            {% endfor %}
        </div>
        <div class="order-total">
            <span>Итого <strong>{{ carts.total_quantity }} товар(а)</span>
            <span><strong>на сумму {{ carts.total_price }} ₽</span>
        </div>
        <button class="btn" type="button"><a href="{% url "cart:place_an_order" %}">Оформить заказ</a></button>
    </div>
</section>