{% load static %}

<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Умная столовая — авторизация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&family=Yeseva+One&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>

<body>
    <div class="app">
        <main class="auth-layout">
            <div class="auth-panels">
                <div class="auth-switch">
                    <button class="btn btn-outline is-active" type="a" aria-pressed="true">
                        Авторизация
                    </button>
                    <button class="btn btn-outline" type="a" aria-pressed="false">
                        <a href="/registration">Регистрация</a>
                    </button>
                </div>

                <div class="auth-views">
                    <section class="auth-card is-active" id="login">
                        <h2>Авторизация</h2>
                        <form action="{% url "user:login" %}" method="post" class="form">
                            {% csrf_token %}
                            <div class="field">
                                <label for="id_username" class="form-label">Логин</label>
                                <input type="text" class="form-control"
                                    value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                    name="username" id="id_username"
                                    placeholder="Введите ваше имя пользователя"
                                    required>
                            </div>
                            <div class="field">
                                <label for="id_password" class="form-label">Пароль</label>
                                <input type="password" class="form-control"
                                    value="{% if form.password.value %}{{ form.password.value }}{% endif %}"
                                    name="password" id="id_password"
                                    placeholder="Введите ваш пароль"
                                    required>
                            </div>
                            <button class="btn" type="submit">Войти</button>
                        </form>
                    </section>
                </div>
            </div>
        </main>

    </div>
</body>

</html>
